{% extends "base.html" %}

{% block header %}
  
{% endblock %}

{% block content %}
  <div class="form-container">
        <h1>{% block title %}New Note{% endblock %}</h1>
        <form method="post">
            <div>
                <label for="title">Title</label>
                <input name="title" id="title" type="text">
            </div>
            <div>
                <label for="task">Task</label>
                <!--<input name="task" id="task" type="text">-->
                <textarea id="task" name="task" rows="5" cols="33"></textarea>
            </div>
            <input class="primary" type="submit" value="Create Note">
        </form>
        <button class="previous"><a href="{{ url_for('notes.index') }}">Voltar</a></button>
   </div>
{% endblock %}